* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width:952px){
 .menu-bar ul li a{
        display:display: inline-block;
        /* ; */
        align-items: center;
        justify-content: center;
        color: blue;
        /* background-color:; */
    }
}

body {
    background-image: url(./2004594.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar {
    background: rgb(5, 9, 0);
    text-align: center;

}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li a {
    text-decoration: none;
    color: whitesmoke
}

.active, .menu-bar ul li:hover {
    background-color: rgb(147, 4, 4);
    border-radius: 5px;
}

.menu-bar .fa {
    margin-left: 8px;
    color: whitesmoke;
    font-size: 14px;
   
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgba(15, 22, 1, 0.75);
    margin-top: 15px;
    margin-left: -15PX;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0px;
    text-align: left;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: rgb(225, 119, 20);

}
.fa-angle-right {
    float:right;
}
/* .sub-menu-2{

    display: none;
}
.menu-bar ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background: rgba(15, 22, 1, 0.75);
    margin-top: 15px;
    margin-left: -15PX;
}

.menu-bar ul li:hover .sub-menu-2 ul {
    display: block;
    margin: 10px;
} */